#contact{
    position: relative;
}

#contact address {
    position: absolute;
    top: 0;
    color: white;
    font-weight: bold;
}

#contact > div > div:first-child p {
    font-weight: bold;
    text-align: end;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
    #contact address {
        left: 22%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #contact address {
        left: 25%;
    }
}