/* General */
#sectionCarousel{
    border: 1px solid gray;
}

.slider{
    position: relative;
    overflow: hidden;
    height: 500px;
}
.sliderItem{
    float: left;
}
.sliderContainer{
    transition: transform 0.3s;
}
.sliderContainer::after{
    content: "";
    clear: both;
    display: table;
}
.slider img{
    width: 100%;
}

/* Slides */
.iconeSlide{
    width: 20px !important;
    margin-right: 10px;
}
.carousel1 h3{
    text-align: center;
    margin-bottom: 30px;
}

/* Button next and previous */
.carouselNext, .carouselPrev{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: white;
    background-size: 20px;
    border-radius: 50%;
    top:50%;
    margin-top: -20px;
    right: -30px;
    cursor: pointer;
    transition: transform 0.3s;
}
.carouselNext:hover, .carouselPrev:hover{
    transform: scale(1.2)
}
.carouselPrev{
    right: auto;
    left: -30px;
}

.fa-arrow-left, .fa-arrow-right{
    padding-top: 18px;
    font-size: 1.5em;
}
.fa-arrow-left{
    padding-left: 30px;
}
.fa-arrow-right{
    padding-left: 8px;
}

/* Button pagination */
.carouselPagination{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.carouselPaginationButton{
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;/*permet de faire un rond*/
    display: inline-block;
    box-shadow: 0 2px 5px rgba(138, 134, 134, 0.5);
    margin: 0 3px;
    transition: transform 0.3s;
    cursor: pointer;
}
.carouselPaginationButton_active, .carouselPaginationButton:hover, .fa-play-circle:active, .fa-stop-circle:active{
    transform: scale(1.4);
}

/* Command play and stop */
.carouselCommand{
    position: absolute;
    bottom: 0;
    left: 40%;
    text-align: center
}
.fa-play-circle, .fa-stop-circle{
    font-size: larger;
    transition: transform 0.3s;
}
.fa-play-circle{
    margin-right: 10px;
}
.fa-play-circle:hover, .fa-stop-circle:hover{
    color: blue;
}
