@font-face {
    font-family: 'bukhari';
    src: url('../font/Bukhari.ttf');
}
.row{
    margin-left:0!important;
    margin-right: 0!important;
}
.selector-for-some-widget {
    box-sizing: content-box;
  }

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}
#titre{
    position: relative;
}
#titre p{
    position: absolute;
    right: 5%;
    width: 35%;

}

header, section{
margin-bottom: 2vw;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
    #titre p{
        font-size: 12px;
        bottom: 0;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #titre p{
        font-size: 14px;
        bottom: 0;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #titre p{
        font-size: 20px;
        bottom: 10%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #titre p{
        font-size: 25px;
        bottom: 10%;
    }
}